/src/DBExportWord/bin/Debug/netcoreapp2.1/DBExportWord.deps.json
/src/DBExportWord/bin/Debug/netcoreapp2.1/DBExportWord.dll
/src/DBExportWord/bin/Debug/netcoreapp2.1/DBExportWord.pdb
/src/DBExportWord/bin/Debug/netcoreapp2.1/DBExportWord.runtimeconfig.dev.json
/src/DBExportWord/bin/Debug/netcoreapp2.1/DBExportWord.runtimeconfig.json
/src/DBExportWord/bin/Debug/netcoreapp2.1/Start.bat
/src/DBExportWord/bin/Release/netcoreapp2.1/DBExportWord.deps.json
/src/DBExportWord/bin/Release/netcoreapp2.1/DBExportWord.dll
/src/DBExportWord/bin/Release/netcoreapp2.1/DBExportWord.pdb
/src/DBExportWord/bin/Release/netcoreapp2.1/DBExportWord.runtimeconfig.dev.json
/src/DBExportWord/bin/Release/netcoreapp2.1/DBExportWord.runtimeconfig.json
/src/DBExportWord/bin/Release/PublishOutput/DBExportWord.deps.json
/src/DBExportWord/bin/Release/PublishOutput/DBExportWord.dll
/src/DBExportWord/bin/Release/PublishOutput/DBExportWord.pdb
/src/DBExportWord/bin/Release/PublishOutput/DBExportWord.runtimeconfig.json
/src/.vs/DBExportWord/v15/.suo
/src/.vs/DBExportWord/v15/Server/sqlite3/db.lock
/src/.vs/DBExportWord/v15/Server/sqlite3/storage.ide
/src/DBExportWord/obj/DBExportWord.csproj.nuget.cache
/src/DBExportWord/obj/DBExportWord.csproj.nuget.g.props
/src/DBExportWord/obj/DBExportWord.csproj.nuget.g.targets
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.AssemblyInfo.cs
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.AssemblyInfoInputs.cache
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.assets.cache
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.csproj.CoreCompileInputs.cache
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.csproj.FileListAbsolute.txt
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.csprojResolveAssemblyReference.cache
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.dll
/src/DBExportWord/obj/Debug/netcoreapp2.1/DBExportWord.pdb
/src/DBExportWord/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/DBExportWord/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/DBExportWord/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/DBExportWord/obj/project.assets.json
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.AssemblyInfo.cs
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.AssemblyInfoInputs.cache
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.assets.cache
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.csproj.CoreCompileInputs.cache
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.csproj.FileListAbsolute.txt
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.csprojResolveAssemblyReference.cache
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.dll
/src/DBExportWord/obj/Release/netcoreapp2.1/DBExportWord.pdb
/src/DBExportWord/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/DBExportWord/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/DBExportWord/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/DBExportWord/12345.doc
/src/DBExportWord/bin/Debug/netcoreapp2.1
/src/DBExportWord/obj/Debug/netcoreapp2.1
/src/.vs/DBExportWord/DesignTimeBuild
/src/.vs/DBExportWord/v15/Server/sqlite3
/src/DBExportWord/123.docx
